<app-header-list [cart]="cart"></app-header-list>
<main>
    <div class=" col-sm-12 col-md-6 col-lg-3 mb-3" *ngFor="let phone of listPhones">
        <div class="card" style="width: 100%;">
            <h5 class="card-title">{{phone.name}}</h5>
            <img class="card-img-top" src="http://localhost:8800/{{phone.image}}" alt="Card image cap">
            <div class="card-body p-0">
                <p class="card-text"> {{phone.description}} </p>
                <p>{{phone.price}} USD</p>
                <p>{{phone.stock}} units in stock</p>
                <div class="d-flex">
                    <a class="btn btn-primary mr-1" [routerLink]="['/product',phone._id]" routerLinkActive="router-link-active"><i class="fas fa-info-circle"></i>Detail</a>
                    <a class="btn text-white buy" style="border: none;" [ngStyle]="{'background-color':phone.stock === 0 ? 'red' : 'rgb(240, 173, 78)' }" (click)="buy(phone)"> <i class="fas fa-shopping-cart"></i> {{ phone.stock === 0 ? 'Out of stock' : 'Order Now'}}
                    </a>
                </div>
            </div>
        </div>
    </div>


</main>