<header>
    <span>
        <h1>Products</h1>
    </span>
</header>
<main class="d-flex" *ngIf="detail">
    <div class="w-50 h-100 pt-3 pb-3 pr-5 pl-3 ">
        <img src="http://localhost:8800/{{detail.image}}" alt="">
    </div>
    <div class="w-50 h-100 pt-3 d-flex flex-column ">
        <h4>{{detail.name}}</h4>
        <p> {{detail.description}} </p>
        <div class="d-flex row  ml-0 mr-0 text-center">
            <h5>
                item Code:
            </h5>
            <p style="background-color:rgb(240, 173, 78);color: white;">
                {{detail._id}}
            </p>
        </div>
        <div class="d-flex row  ml-0 mr-0 text-center">
            <h5>
                manufacturer:
            </h5>
            <p>
                {{detail.manufacturer}}
            </p>
        </div>
        <div class="d-flex row  ml-0 mr-0 text-center">
            <h5>
                category:
            </h5>
            <p style="color: blue;">
                {{detail.category}}
            </p>
        </div>
        <div class="d-flex row  ml-0 mr-0 text-center">
            <h5>
                Availabe units in stock:
            </h5>
            <p>
                {{detail.stock}}
            </p>
        </div>
        <p style="font-size: 22px;">{{detail.price}}USD</p>
        <div class="d-flex row ml-0 mr-0">

            <a (click)="goBack()" class="btn mr-1 ml-2 text-white border-0" style="background-color: rgb(92, 184, 92)">
                <i class="fas fa-arrow-circle-left"></i> Back
            </a>

            <a class="btn text-white" (click)="buy(detail)" style="background-color:rgb(240, 173, 78)">
                <i class="fas fa-shopping-cart" style="transform: scaleX(-1);"></i> Order Now
            </a>

        </div>

    </div>
</main>